body{
    font-family: 'Lexend Deca';
}

html,body{
    overflow-x: hidden;
}

.navbar{
    position:fixed;
}
.navbar-list{
    gap: 50px
}
.navbar-brand{
    font-weight: 600;
    font-size: 52px;
    
}
.nav-btn{
    background-color: #5468E7;
    opacity: 0.7;
}
.nav-btn:hover{
    background-color: #5468E7;
    opacity: 1;
}
.nav-link:hover{
    text-decoration: underline;
    color: white;
}
/* Color of the links BEFORE scroll */
.navbar-before-scroll .nav-link,
.navbar-before-scroll .navbar-toggler-icon {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-after-scroll .nav-link,
.navbar-after-scroll .navbar-toggler-icon {
  color: whitesmoke;
}
/* Color of the navbar AFTER scroll */
.navbar-after-scroll {
  background-color: black;
}
.navbar-after-scroll {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }

  /* Transition to the initial state */
  .navbar-before-scroll {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }

.header{
    background-image: url(./img/Header.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:68%;
    margin: 0;
    display: flex;
    align-items: center;
    color: #F5F5F5

}
.header-title{
    font-size: 50px;
}
.header-subtitle{
    font-size: 18px;
}
.header-input{
    width: 298px;
    height: 47px;
    border-radius: 4px;
    border-style: none;
    padding: 11px 16px 11px 16px;
}
.header-form .header-btn{
    width: 233px;
    height: 47px;
    padding: 10px 44px 10px 44px;
    border-radius: 4px;
    background-color: #5468E7;
    border-style: none;
}
.header-form .header-btn:hover{
    background-color: #7468E7;
}

.header-form{
    align-items: center;
    display: flex;
    gap: 16px;
    position: absolute;
    flex-wrap: wrap;
}

.input-icon{
    position: absolute;
    color: #7676B2;
    padding-left: 270px;
}

.content{
    height: 100vh;
    /* max-height: 1500px; */
    display: flex;
    align-items: center;
    
    
}


.content-wrapper{
    display: flex; 
    align-items: center;    
    /* max-height: 360px; */

}


.content-title1, .content-title{
    font-size: 50px;
    font-weight: 700;
    color: #232340;
}
.content-subtitle1, .content-subtitle{
    font-size: 18px;
}


.content-img{
    height:100%;
    width:100%;
    /* object-fit:inherit */
    /* position: unset; */

}
.content-img-wrapper{
    /* display: flex;
    align-items: center; */
}
/* .content-img-calendar{
    z-index: 2;
} */

.rating{
    height: 100vh;
}


.rating-title{
    font-size: 50px;
    font-weight: 700;
    color: #232340;
}
/* .carousel-container{
    margin-right: 0;
}

.img-wrapper{
    max-width: 100%;
    height: 20em;
    display: flex;
    justify-content: center;
} */

img{
    max-width: 100%;
    max-height: 100%;
}
/* @media (min-width: 768px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 30%;
      display: block;
    }
    .img-wrapper{
        height: 23vw;
    }
} */

.carousel-inner{
    display: flex;
    padding: 1em;
    gap: 20px
}
.carousel-item {
    margin-right: 0;
    flex: 0 0 30%;
    display: block;
  }
  .img-wrapper{
      height: 23vw;
  }
.card{
    margin: 0 .5em;
    border-style: none;
    box-shadow: 5px 5px 10px #7676B23D;
}
.avatar-rating{
    display: flex;
    align-items: center;
}
.avatar-name{
    font-size: 18px;
    margin: 0;
    padding: 0;
    
}
.avatar-job{
    color:#9e9ea7 ;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
/* .carousel-control-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: end;
} */

.carousel-container{
    margin-right: 0;
}
.carousel-control-prev,
.carousel-control-next{
    position: absolute;
      top: 100%;
      /* margi
      display: flex; */
}
.carousel-control-prev{
    left: 80%;
}

footer{
    position: relative;
    width: 100%;
    height: 500px;
    color: #F5F5F5;
    background-color: #232340;
}
.footer-brand-wrapper{
    width: 170px;
}
.footer-brand{
    font-size: 52px;
    color: white;
}
.footer-title{
    font-size: 24px;
    color: #5468E7;
}
footer ul{
    list-style-type: none;
    padding-left: 0;
    row-gap: 12px;
}
footer ul li { 
    font-size: 14px;
    margin-bottom: 12px;  
 }

 .footer-text{
    font-size: 14px;
 }
 .footer-input{
    width: 268px;
    height: 46px;
    background-color: #7676B2;
    padding-left: 15px;
    border-style: none;
    border-radius: 4px;
    font-weight: 300;
    color: #F5F5F5;
 }

 .footer-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #F5F5F5;
    font-size: 14px;
    opacity: 0.8; /* Firefox */
  }
  
  .footer-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #F5F5F5;
    font-size: 14px;
    opacity: 0.8;
  }
  
  .footer-input::-ms-input-placeholder { /* Microsoft Edge */
    color: #F5F5F5;
    font-size: 14px;
    opacity: 0.8;
  }
  .footer-submit-arrow{
    /* display: flex; */
    position: absolute;
    right: 130px;
    padding-top: 15px;
}
.copyright{
    width: 300px;
    position: absolute;
    bottom: 0;
    font-size: 14px;
}

/* Home-Mobile-Landscape */

@media (max-width: 600px){
    .content-title{
        font-size: 34px;
    }
    .content-subtitle{
        font-size: 16px;
    }
    .content-img{
        height:auto;
        padding: 0;
    }
    .content-wrapper{
        align-items: normal;
    }
    .carousel-item {
        flex: 0 0 50%;
    }
    footer{
        height: 764px;
    }
    .footer-submit-arrow{
        left: 250px;
    }
    /* .carousel-container{
        margin-right: auto;
    } */
}
